<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <script src="script.js" defer></script>
  <link href="../styles/dashboard.css" rel="stylesheet">
</head>

<body>

  <nav>
    <div class="logo">
      <a href="#">Task Manager</a>
      <img src="../images/logo.jpeg" alt="Logo">
      <h2>Dashboard</h2>
    </div>

    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="./index.html">Sign Out</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="sideBar">
      <button>
        <p class="sideBar centerAlign"><a href="">
            <p>Add Task <b>+</b> </p>
          </a></p>
      </button>
      <ul>
        <div class="statusBar"><li><a href="#">Dashboard</a></li></div>
        <li><a href="#">Active</a></li>
        <li><a href="#">Completed</a></li>
      </ul>
    </div>

    <main>
      <div class="welcoming">
        <h1 id="welcoming">Hello, </h1>
      </div>

      <div class="tasks">
        <h2>Today's Tasks</h2>
        <button>Delete All</button>
        <div id="taskHolder"></div>
      </div>
    </main>
  </div>


  <script src="../scripts/dashboard.js"></script>
</body>

</html>
