<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../styles/signUp.css">
</head>

<body>
  <div class="signUpContainer">
    <div class="signUpCard">
      <h1 class="title">Task Manager</h1>
      <p class="subtitle">Start organizing your life day by day</p>

      <form id="signUpForm">
        
        <div class="inputContainer">
          <input type="text" id="name" placeholder="Name" class="inputField">
        </div>

        <div class="inputContainer">
          <input type="text" id="username" placeholder="Username" class="inputField">
        </div>

        <div class="inputContainer">
          <input type="email" id="email" placeholder="Email" class="inputField">
        </div>

        <div class="inputContainer relative">
          <input type="password" id="password" placeholder="Password" class="inputField">
          <span class="passwordIcon">🔒</span>
        </div>

        <button type="submit" class="submitBtn">Sign Up</button>
      </form>

      <p class="signInLink">
        Already have an account? <a href="./signIn.html" class="underline">Sign in here</a>.
      </p>
    </div>
  </div>

  <script src="../scripts/signUp.js"></script>
</body>

</html>
