<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="../styles/signIn.css">
</head>

<body>
  <div class="signInContainer">

    <div class="signInCard">

      <h1 class="title">Task Manager</h1>
      <p class="subtitle">Start organizing your life day by day</p>

      <form id="signInForm">

        <div class="inputContainer">
          <input type="text" id="email" placeholder="Email" class="inputField">
        </div>

        <div class="inputContainer relative">
          <input type="password" id="password" placeholder="Password" class="inputField">
          <span class="passwordIcon">🔒</span>
        </div>

        <button type="submit" class="submitBtn">Sign In</button>

      </form>

      <p class="signUpLink">
        Don't have an account? <a href="./signUp.html" class="underline">Create here</a>.
      </p>

    </div>

  </div>

  <script src="../scripts/signIn.js"></script>
</body>

</html>
